/* VARIABLES */
:root {
    --primary-color: #0055af;
    --secondary-color: #121212;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --text-color-light: #fff;
    --font-family: Arial, sans-serif;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* HEADER */
.site-header {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 70px;
    height: 70px;
}

/* NAV */
nav {
    margin-top: 10px;
}

nav a {
    color: var(--text-color-light);
    margin: 0 10px;
    text-decoration: none;
    transition: 0.25s;
}

nav a:hover {
    color: var(--primary-color);
}

/* CONTENEDOR */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background-color: var(--primary-color);
    color: white;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    line-height: 1.5;
}

/* SECCIONES */
section {
    margin-bottom: 40px;
}

h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}

/* JUEGOS */
article {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}
article h3 {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
article p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.precio {
    color: var(--primary-color);;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 10px 0;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: var(--secondary-color);
}

/* FORMULARIO */
form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #0a0a0a;
    padding: 25px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form label {
    color: white;
}

input,
textarea {
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;;
}

/* SERVICIOS */
#servicios ul {
    list-style: none;
    margin-top: 10px;
}

#servicios li {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color-light);;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

form button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #094a8f;
}