* {
    box-sizing: border-box;
}

html{
    font-family: var(--font-family);
    
}

:root{
    --primary-color:#0055af;
    --secondary-color: #121212;
    --background-color:#f8f9fa;
    --text-color: #212529;
    --text-color-light: #fff;
    --font-family: Arial, Helvetica, sans-serif;



}


body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}

main{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    
    
}

#inicio {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

header{
background-color: var(--secondary-color);
padding: 10px ;
text-align: center;
}

footer{
    background-color: var(--secondary-color);
    padding: 20px;  
    text-align: center;
    color: white;
    width: auto;
    
}

.logo{
    width: 70px;
    height: 70px;
}

img{
    max-width: 100%;
    height: auto;
    
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: white ;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.25s ease;
}



.nav-list a:hover {
    color: rgb(242, 161, 11);
}

#Juegos h2 {
    border-bottom: 2px solid #3b5ba9;
    padding-bottom: 10px;
    color: var(--primary-color);
}

/* Card */
.card-juego {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    background-color: #f5f5f5;
}

/* Título del juego */
.card-juego h3 {
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Imagen */
.card-juego img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

/* Texto */
.card-juego p {
    color: #333;
    line-height: 1.5;
}

/* Precio */
.precio {
    text-align: right;
    font-weight: bold;
    color: #476fc1 !important;
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Botón */
.card-juego button {
    background-color: #3b5ba9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card-juego button:hover {
    background-color: #2c4d8f;
}

#Contacto h2 {
    border-bottom: 2px solid #3b5ba9;
    padding-bottom: 10px;
    color: #2c4d8f;
}

/* Caja del formulario */
.form-contacto {
    background-color: #111;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    color: white;
}

/* Labels */
.form-contacto label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs y textarea */
.form-contacto input,
.form-contacto textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-family: var(--font-family);
}

/* Botón */
.form-contacto button {
    background-color: #3b5ba9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form-contacto button:hover {
    background-color: #2c4d8f;
}

#Servicios h2 {
    border-bottom: 2px solid #0055af;
    padding-bottom: 10px;
    color: #0055af;
}

#Servicios p {
    color: #000000;
}

/* Lista */
#Servicios ul {
    list-style: none;
    padding: 0;
}

/* Cada item */
#Servicios ul li {
    background-color: #0055af;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}