* {
    scroll-behavior: smooth;
}

:root {
    /*títulos h2, botones, sección inicio */
    --primary-color: #0055af;
    /*header, footer, bordes*/
    --secondary-color: #121212;
    /*fondo del body*/
    --background-color: #f8f9fa;
    /*Color del texto principal*/
    --text-color: #212529;
    /*Color del texto claro*/
    --text-color-light: #fff;
    --font-family: 'Arial', sans-serif;
}

body {
    min-height: 100dvh;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}


.site-header {
    background-color: var(--secondary-color);
    padding: 10px 0;
    text-align: center;
}


.logo {
    width: 70px;
    height: 70px;
}

nav {
    a {
        color: var(--text-color-light);
        text-decoration: none;
        margin: 0 10px;
        transition: color 0.25s;
    }

}

a:hover {
    color: var(--primary-color)
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bienvenida {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: 9px;
    padding: 17px;
    margin: 12px;

    p {
        line-height: 1.7;
    }
}

.section-juegos {
    h2 {
        color: var(--primary-color);
        text-transform: uppercase;
        border-bottom: solid var(--primary-color);
        padding-bottom: 5px;
    }

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.article-1 {
    border: 2px solid var(--secondary-color);
    border-radius: 7px;
    padding: 17px;
    margin-bottom: 30px;

    h3 {
        color: var(--text-color-light);
        background-color: var(--secondary-color);
        padding: 7px 7px;
    }

    .p-zelda-1 {
        line-height: 1.5;
    }
    

    .precio-zelda {
        margin-top: 25px;
        margin-bottom: 25px;
        color: var(--primary-color);
        font-weight: bold;
        text-align: right;
    }

    .button-1 {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        color: var(--text-color-light);
        background-color: var(--primary-color);
        transition: 0.3s;
    }

    button:hover {
        background-color: var(--secondary-color);
    }
}

.article-2 {
    border: 2px solid var(--secondary-color);
    border-radius: 7px;
    padding: 17px;
    margin-bottom: 30px;

    h3 {
        color: var(--text-color-light);
        background-color: var(--secondary-color);
        padding: 7px 7px;
    }

    .p-mario-1 {
        line-height: 1.5;
    }

    .precio-mario {
        margin-top: 25px;
        margin-bottom: 25px;
        color: var(--primary-color);
        font-weight: bold;
        text-align: right;
    }

    .button-2 {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        color: var(--text-color-light);
        background-color: var(--primary-color);
        transition: 0.3s;
    }

    button:hover {
        background-color: var(--secondary-color);
    }

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}
.section-contacto {
    h2 {
        color: var(--primary-color);
        text-transform: uppercase;
        border-bottom: solid var(--primary-color);
        padding-bottom: 5px;
    }
    .formulario{
        background-color: var(--secondary-color);
        width: 400px;
        margin: auto;
        padding: 30px;
        padding-right: 50px;
        border-radius: 7px;
    }
    label{
        color: var(--text-color-light);
        display: block;
        margin-bottom: 5px;
    }
    
    input,
    textarea{
        font-family: var(--font-family);
        outline: none;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
    }
    button{
        background-color: var(--primary-color);
        color: var(--text-color-light);
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    button:hover{
        background-color: var(--text-color);
    }
}

.section-servicios{
     h2 {
        color: var(--primary-color);
        text-transform: uppercase;
        border-bottom: solid var(--primary-color);
        padding-bottom: 5px;
    }
    p{
        line-height: 1.6;
    }
    .list{
        list-style: none;
        padding-left: 0;
        li{
            
            background-color: var(--primary-color);
            color: var(--text-color-light);
            padding: 12px;
            margin-bottom: 12px;
            border-radius: 4px;
        }
    }
}

footer{
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    font-size: 14px;
}