@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-color);
}

:root {
    --primary-color: #002112;
    --secondary-color: #27AE61;
    --text-color: white;
    --accent-color: #84d914;
    --background-color: #00341d;
    --background-secondary-color: #121212;
    --font-family: 'Nunito', sans-serif;
}

span {
    color: var(--accent-color)
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    
}

footer{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    align-items: center;
    background-color: var(--background-secondary-color);

    .contacto{
        ul{
            list-style-type:"🥦";
            padding-left: 16px ;
        }
    }
    
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-decoration:none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--accent-color)
}

.info{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    gap: 40px;
    flex-wrap: wrap;
}

.info div {
    flex: 1;
    min-width: 250px;
}

.info div:first-child {
    text-align: center;

    padding: 40px;
}

.info img {
    width: 100%;
    margin: 0 20px 0 0;
    display: block;
    object-fit: cover;
}

.hero {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}
.hero video {
    width: 100%;
    object-fit: cover;
    display: block;
}

.logo{
    width: 50px;
    height: 50px;
}

.products{
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 40px 20px 40px;

}

.card {
    background-color: #0a0a0a;
    border: 1px solid #35c56b;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    color: white;
}

.card img {
    width: 100%;

    border-radius: 10px;
}

.card h3 {
    color: var(--accent-color); 
    margin: 10px 0;
}

.card p {
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-5px);

    transition: 0.3s;
}

.benefits {
    background-color: var(--background-color);

    color: white;

    padding: 40px;
}

table {
    width: 100%;

    border-collapse: collapse;
}

thead {
    background-color: #35c56b;
}

th,
td {
    border: 1px solid var(--secondary-color);
    padding: 20px;
    text-align: left;
}


th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #004d29;
}

