@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#002112;
    --secondary-color:#27AE61;
    --text-color:white;
    --accent-color:#84d914;
    --background-color:#00341d;
    --background-secondary-color:#121212;
    --font-family:	'Nunito', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

a{
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
}

span{
    color: var(--accent-color);
}

.header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
    img{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* font-weight: bold; */
    gap: 15px;
}

.main-container{
    width: 100%;
    margin: 0 auto;
}

.hero-section{
    display: flex;
}

.welcome {
    flex: 1 1 100%;
    position: relative;
    height: 750px;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 

    .hero-text {
        position: absolute;
        text-align: center;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 34%;
        max-width: 545px;
        min-width: 200px;
        line-height: 1.6;
        padding: 15px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.65);
        text-shadow: 1px 1px 2px black;
        max-width: 545px;
    }
}

.info-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    .info, img{
        max-width: 600px;
        
    }
    .info{
        text-align: center;
        padding: 30px;
        line-height: 1.6;
    }
}

.products-section{
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 180px;
    gap: 15px;
}

.card{
    flex: 0 0 300px;
    border: solid 1px var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    .card-header{
        img{
            height: 200px;
            width: 100%;
        }
    }
    .card-body{
        padding: 20px 15px;
        h3{
            padding-bottom: 10px;
            color: var(--accent-color);
        }
        p{
            line-height: 1.6;
        }
    }
}

.benefits-section{
    padding: 40px;
    margin: auto 160px;
    table{
        border-color: var(--secondary-color);
        color: var(--text-color);
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
        th {
            background-color: var(--secondary-color);
            text-align: left;
            padding: 15px;
            font-weight: bold;
            
        }
        td {
            padding: 15px;
            
        }
        tr:nth-child(even) {
            background-color: rgba(39, 174, 97, 0.1);
        }
    }
}

.main-footer{
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    .contact-section{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .rights-section{
        img{
            margin-bottom: 8px;
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (width > 1650px) {
    .benefits-section{
        margin: auto 300px;
    } 
}
@media screen and (width < 980px){
    .benefits-section{
        margin: auto 50px; 
    }
    .main-footer{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}
@media screen and (width <= 600px){
    .info-section{
        .info, img{
            width: 100%;
        }
    }
    .benefits-section{
        padding: 30px 0px;
        margin: auto 25px;
    }
    .main-footer{
        align-items: flex-start;
    }
}