*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0055af;
    --secondary-color: #121212;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --text-color-light: #fff;
    --font-family: 'Arial', sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.site-header{
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 10px 0;
    text-align: center;
}

.logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

/*nav*/
nav ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style: none;
    font-weight:bold;
}

nav a{
    color: var(--text-color-light);
    text-decoration: none;
    margin: 0 10px;
    transition: 0.25s ease;
}

nav a:hover{
    color: var(--primary-color);
}

/*main*/
main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*inicio*/
#inicio{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
}

#inicio p{
    padding-top: 20px;
    line-height: 1.5;
}

/*menu*/
#menu img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}

#menu h2{
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
    margin-top: 30px;
}

#menu article{
    margin: 20px 0 30px 0;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

#menu article h3{
    color: var(--text-color-light);
    margin: 20px 0 10px 0;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

#menu article p{
    margin-bottom: 10px;
    line-height: 1.5;
}

#menu article button{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease;
}

#menu article button:hover{
    background-color: #003f8a;
}

#menu .precio{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: var(--primary-color);
    margin: 20px 0;
}

/*contacto*/
#contacto h2{
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#contacto form{
    width: 500px;
    max-width: 100%;
    margin: 0 auto 20px auto;
    border: 10px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 10px;
}

#contacto label{
    display: block;
    margin-bottom: 5px;
}

#contacto input,
#contacto textarea{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    font-family: var(--font-family);
    resize: none;
}

#contacto button{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease;
}

#contacto button:hover{
    background-color: #003f8a;
}

/*servicios*/
#servicios h2{
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#servicios p{
    margin-bottom: 20px;
    line-height: 1.5;
}

#servicios ul{
    list-style: none;
    margin-bottom: 50px;
}

#servicios ul li{
    margin-bottom: 10px;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 10px;
    border-radius: 5px;
}

/*footer*/
footer{
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}