@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    margin: 3%;
    padding: 0%;
    background-color:#ecf0f1;
}
header{
    background-color: #2c3e50;
    color: white;
    padding: 0%;
    text-align: center;
}   
h2{
    color: #ffffff;
    background-color: #7ab0e3;
    text-align: center;
    padding: 3;
}
a{
    color:brown;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
a:hover{
    color: #7ab0e3;
}
div{
    text-align: center;
    background-color: #d6e3ee;
}
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 0%;
    margin-top: 20px;
}
main{
    background-color: #ffffff;
    padding: 0%;
}
p{
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
img{
    width: 40%;
    box-shadow:#2c3e50 0px 10px 10px;
    margin: 10px;
}
ul{
    list-style-type:circle;
    margin-bottom: 15px;
    margin-top: 15px;
}
ol{
    list-style-type:upper-roman;
    margin-bottom: 15px;
    margin-top: 15px;
    margin: 20px;
}
section{
    padding: 0px;
    margin-bottom: 20px;  
    margin-top: 20px;
}